.l{
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}
.toggle input{
  height: 0;
  width: 0;
  opacity: 0;
}
.toggle-slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: lightgrey;
}
.toggle-slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}
input:checked + .toggle-slider {
  background-color: lightgreen;
}
input:checked + .toggle-slider:before{
  transform: translateX(25px);
}
.toggle-slider.round{
  border-radius: 24px;
}
.toggle-slider.round:before{
  border-radius: 50%;
}
